.title {
    font-size: x-large;
    text-align: center;
}

body {
    background-color: lavender;
}

hr {
   border-top: 1px solid black; 
}

.demo {
    text-align: center;
}

h2 {
    font-size: 30px;
}